//# ------------ GENERAL -------------------
.separator {
    height: 2px;
    width: 100%;
    background-color: purple;
}

//# ------------ HOME PAGE ----------------------

//-> --- TITLES

.homePageTitle {
    background: #ececec;
    border-radius: 5px;
    border: 10px solid purple;
    padding: 50px;

    h2 {
        font-style: italic;
    }
}

//-> --- CHAPTER LIST

.latestChaptersContainer {
    border: none;
    border-right: 2px solid purple;
    padding: 30px;

    h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .latestChapterSingle {
        border-bottom: 2px solid grey;

        h2 a {
            color: black;
            font-size: 1.5rem;
            font-style: italic;
        }

        .latestChapterSingleContent{
            color: black;
            background: #ececec;
            padding: 10px;
        }

    }
}

.readMoreLinkContainer {
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    width: 100%;

    .readMoreLink {
        color: purple;
        transition: all 0.3s ease-in-out;

        i {
            padding: 10px;
        }

        &:hover {
            text-decoration: none;
            color: darkgoldenrod;
        }
    }
}

//-> --- CHAPTER SIDEBAR

.chapterListContainer {
    border: 2px solid purple;
    border-radius: 5px;

    .chapterListTitle {
        text-align: center;
        font-weight: bold;
        border-color: purple;
    }

    .chapterListLink {
        border-color: purple;
        transition: all 0.15s ease;
        color: black;

        &:hover {
            color: white;
            background-color: rgb(133, 21, 133);
            font-weight: bold; 
            text-decoration: none;
        }
    }
}


//# ---------- SHOW CHAPTER PAGE ------------------

//-> --- CHAPTER CONTENT

.chapterContainer {

    border: 5px solid #ececec;
    border-radius: 10px;

    .chapterTitle {
        border: 3px solid beige;
        background: rgb(233, 233, 191);
        border-radius: 3px;
        padding: 20px;
        
        h1 {
            font-size: 40px;
        }
    }

    .chapterBody {
        padding: 25px;
        background: beige;
    }
}

//-> --- CHAPTER NAV
.chapterNavBtn, .commentBtn {
    border: 2px solid purple;
    background: purple;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    transition: all 0.2s ease;

    &:hover {
        text-decoration: none;
        color: black;
        background: none;
    }
}

.activeChapter {
    background: purple;
    
    a i, a span{
        color: white;
    }
}

//-> --- COMMENTS

.userCommentContainer {

    .userCommentBody {
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc;

        .userCommentInfo {
            display: flex;
            justify-content: space-between;
        }

        .userCommentMessage {
            background: white;
            padding: 2px;
            position: relative;
            min-height: 30px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 14px;
            line-height: 1.5;
            color: black;

            .arrow {
                position: absolute;
                width: 0px;
                height: 0px;
                background: transparent;
                border: 10px solid white;
                top: -20px;
                left: 10px;
                border-right-color: transparent;
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }

        form {
            display: flex;
            justify-content: flex-end;
            button {
                border: none;
                background: none;
                color: rgb(172, 21, 21);
            }
        }
    }
}