.userComment {
    background-color: rgba(189, 183, 107, 0.678);
    border: 1px solid beige;
    border-radius: 10px;

    .userCommentInfo {
        border-bottom: 1px solid cadetblue;

            h5 {
                display: inline;
                color: darkblue;
                font-weight: bold;
            }

            p {
                display: inline;
                font-style: italic;
                margin: 0;
            }

        }
        
        .userCommentMessage {
            padding-top: 5px;
            margin-top: 5px;
            margin-bottom: 2px;
            border-radius: 5px;
            background-color: white;
        }

        form {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5px;

            .reportBtn {
                background: none;
                border: none;
                color: rgb(189, 16, 16);
            }
        }
    }